.container {
  display: flex;
}

.stackedContainer {
  flex-direction: column;
}

.inlineContainer {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.label {
  text-transform: capitalize;
}

.label-checkbox,
.label-radio {
  margin-left: 0.5rem;
}

.label-date,
.label-text,
.label-password,
.label-email,
.label-number {
  margin-bottom: 1rem;
}

.wrapInput{
  border-radius: 0.8rem;
  background-color: var(--bg-input);
  display: flex;
  flex-direction: row;
  border: 1px solid var(--border-input);
}

.input {
  flex:1;
  height: 100%;
  outline: none;
  font-size: 1.4rem;
  font-family: var(--font-base);
  color: var(--color-text-primary);
  font-weight: 400;
  padding: 1.2rem 1.25rem;
  border-radius: 0.8rem;
  background: transparent;
  border: 1px solid transparent;
  overflow:hidden;
}

.input:focus{
  border: 1px solid var(--border-input-focus) !important;
}

.inputError:focus {
  outline: 1px solid var(--border-input-error) !important;
}

.inputError {
  border-color: none;
  border: none;
  outline: 1px solid var(--border-input-error) !important;
}


.errorText {
  padding: 0 0.25rem;
  margin-top: 0.75rem;
}

.input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
.input[type="number"] {
    -moz-appearance: textfield;
}

.buttonsContainer{
  display: flex;

}
.stepButton{
  cursor: pointer;
  font-size: 2rem;
  aspect-ratio: 1/1;
  width: 44px;
  appearance: none;
  background: transparent;
  color: var(--color-text-primary);
  border: 0px solid transparent;
  border-left: 1px solid var(--border-input);
}
.stepButton:hover {
  background: var(--bg-input-hover);
}

@media (min-width: 768px) {
  .input {
    font-size: rem;
  }
}
.required {
  color: brown;
  font-size: 1.2rem;
  padding: 0 0.25rem;
}