.container {
  display: flex;
}

.stackedContainer {
  flex-direction: column;
}

.inlineContainer {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.label {
  text-transform: capitalize;
}

.label-checkbox,
.label-radio {
  margin-left: 0.5rem;
}

.label-date,
.label-text,
.label-password,
.label-email,
.label-number {
  margin-bottom: 1rem;
}

.input {
  outline: none;
  border-width: 1px;
  font-size: 1.4rem;
  font-family: var(--font-base);
  color: var(--color-text-primary);
  font-weight: 400;
  padding: 1.2rem 1.25rem;
  border-radius: 0.8rem;
  background-color: var(--bg-input);
  border-color: none;
  border: none;
  outline: 1px solid var(--border-input) !important;
}

.input:focus {
  outline: 1px solid var(--boder-input-focus) !important;
}

.inputError:focus {
  outline: 1px solid var(--boder-input-error) !important;
}

.inputError {
  border-color: none;
  border: none;
  outline: 1px solid var(--boder-input-error) !important;
}


.errorText {
  padding: 0 0.25rem;
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  .input {
    font-size: rem;
  }
}