.container {
  display: flex;
  flex-direction: column;
}

.divLabel {
  margin-bottom: 1rem;
}
.label {
  text-transform: capitalize; 
  width: fit-content;
  display: block;

}


.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: fit-content;
}

.srOnly {
  position: absolute;
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: -2rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.toggleBackground {
  background-color: var(--bg-hover);
  border-radius: 1rem;
  transition: all 0.3s;
  width: 30rem;
  border: 1px solid var(--border-color);
}

.toggleBackground::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  background: var(--border-input-focus);
  border-radius: calc(1rem - 2px);
  height: 2.2rem;
  width: 2.2rem;
  transition: all 0.3s;
}

.toggleBackground.checked {
  background-color: hsl(var(--color-btn-black));
}

.toggleBackground.checked::after {
  transform: translateX(129%);
  background: var(--fg-on-dark-strong);
}

.toggleText {
  margin-left: 8px;
}

